.box.has-glotdict {
    border-left-width: 2px !important;
    border-left-color: blue !important;
}

table.translations tr.preview.has-glotdict th,
table.translations tr.preview.has-glotdict .original {
    position: relative;
}

table.translations tr.preview.has-glotdict .original::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background: blue;
    position: absolute;
    margin-left: -.5em;
    margin-top: -.5em;
}

table.translations tr.preview.has-glotdict th+.priority+.original::before {
    margin-left: calc(-.5em - 31px);
}

table.translations tr.preview.has-glotdict.has-warnings th+.priority+.original::before {
    margin-left: calc(-.5em - 34px);
}

.has-old-string td:nth-last-child(2),
.has-old-string th:nth-last-child(2),
.box.has-old-string {
    border-right-width: 2px !important;
    border-right-color: black !important;
}

table.translations tr.preview.has-original-copy,
#legend .has-original-copy {
    background: #e5f5fa;
}

.discard-glotdict {
    float: right;
}

.gd-layover {
    height: 100%;
    width: 100%;
    background: #0009;
    z-index: 99999;
    position: absolute;
    top: 0;
}

.gd-loader,
.gd-loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.gd-loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    width: 240px;
    height: 240px;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.notice.approved {
    background: #b5e1b9;
    border-left: 3px solid #46b450;
}

.notice.rejected {
    background: #f1adad;
    border-left: 3px solid #dc3232;
}

.notice.fuzzied {
    background: #fbc5a9;
    border-left: 3px solid #f56e28;
}

.notice.submitted {
    background: #b5e1b9;
    border-left: 3px solid #46b450;
}

.notice.reviewed.warned {
    color: #fff;
    background: #e44b3e;
    border-left: 3px solid #dc3232;
}

button[class*="gd-"] strong {
    display: inline-block;
}

.gd-btn-action {
    -webkit-animation: gd-rotation 2s infinite linear;
    animation: gd-rotation 2s infinite linear;
}

input.button.gd-review {
    margin-top: 5px !important;
}

button.gd-approve strong {
    -webkit-transform-origin: 51% 49%;
    transform-origin: 51% 49%;
}

@-webkit-keyframes gd-rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes gd-rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.gd-locale-moved {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.gd-locale-moved:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-name: gd-ripple-out;
    animation-name: gd-ripple-out;
}

.editor-panel__right .panel-header button {
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
}

.editor-panel__right .panel-header button:hover {
    background: #fafafa;
}

.gd_quicklinks_copy.active {
    color: #0073aa;
}

.gd_quicklinks_copy.active:hover,
.gd_quicklinks_copy.active:focus {
    color: #046594;
}

.gd_quicklinks_plus.dashicons-plus {
    margin: 0 10px;
    vertical-align: middle;
    color: #0073aa;
    cursor: pointer;
}

.gd_quicklinks_plus.separator {
    margin: 0 10px;
    vertical-align: middle;
}

.gd_quicklinks_plus.separator:before {
    content: "|";
    color: #c3c0c0;
}

.gd_get_consistency {
    margin-left: 10px !important;
}

.translation-suggestion__translation.index,
.consistency-count {
    padding: 0 4px;
    color: #666;
}

.consistency-count {
    font-size: 0.8em;
}

@-webkit-keyframes gd-ripple-out {
    0% {
        box-shadow: 0 0 6px 6px rgba(0, 115, 170, .3);
    }

    100% {
        top: -22px;
        right: -22px;
        bottom: -22px;
        left: -22px;
        opacity: 0;
    }
}

@keyframes gd-ripple-out {
    0% {
        box-shadow: 0 0 6px 6px rgba(0, 115, 170, .3);
    }

    100% {
        top: -22px;
        right: -22px;
        bottom: -22px;
        left: -22px;
        opacity: 0;
    }
}

.gd_settings_panel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.gd_settings_panel fieldset,
.gd_settings_panel table {
    margin-bottom: 10px;
}

.gd_settings_panel table {
    width: 100%;
    border-spacing: 1px;
}

.gd_settings_panel fieldset {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.gd_settings_panel label,
.gd_settings_questions p {
    padding: 3px 0;
    margin: 0;
}

.gd_settings_panel label {
    padding-left: 20px;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.gd_settings_questions {
    text-align: center;
}

.gd_settings_panel th,
.gd_settings_panel td {
    padding: 3px 5px;
}

.gd_settings_panel th:first-child,
.gd_settings_panel td:first-child {
    padding-right: 10px;
}

.gd_settings_panel input[type="checkbox"] {
    margin-right: 6px;
    margin-left: -20px;
    vertical-align: -1px;
}

.gd_settings_panel th,
.gd_settings_questions p {
    font-weight: bold;
}

.gd_settings_panel th {
    background-color: #d7e8ef;
    padding: 5px;
}

.gd_settings_panel td {
    width: 50%;
    background-color: #e1f0f5;
}

.gd_settings_panel tr:hover td {
    background-color: #0073aa;
    color: white;
}

.gd-on-translations .gp-content {
    max-width: 85%;
}

#gd-back-to-top {
    position: fixed;
    bottom: 2em;
    left: 1em;
    display: none;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    height: 2em;
    color: #0073aa;
    transition: -webkit-transform 80ms ease-in;
    transition: transform 80ms ease-in;
    transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
    cursor: pointer;
    padding: .1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    border: 1px rgba(206, 206, 206, .4) solid;
    border-radius: 50%;
}

.gd-sticky-header #gd-back-to-top {
    display: inline-block;
}

@media screen and (min-width: 1920px) {
    .gd_settings_panel {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .gd_settings_panel h2,
    .gd_settings_questions {
        width: 100%;
    }

    .gd_settings_questions {
        margin-top: 10px;
    }

    .gd_settings_panel fieldset,
    .gd_settings_panel table {
        width: 50%;
    }

    .gd_settings_panel label {
        max-width: 750px;
    }
}
